@charset "UTF-8";
html, body {
    margin: 0;
    padding: 0;
}

#banner {
    position: fixed;
    width: 300px;
    height: 250px;
    overflow: hidden;
    background: #fff;
    border-color: solid 1px lightgray;
}

#i01 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

#i02 {
    position: absolute;
    left: 0;
    top: -20%;
    opacity: 0;
}

#i03 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#i04 {
    position: absolute;
    left: -20%;
    top: 0;
    opacity: 0;
}

#i05 {
    position: absolute;
    left: 20%;
    top: 0;
    opacity: 0;
}

#i06 {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#i07 {
    position: absolute;
    left: -20%;
    top: 0;
    opacity: 0;
}
#i08 {
    position: absolute;
    left: -20%;
    top: 0;
    opacity: 0;
  
}#i09 {
    position: absolute;
    left:  -20%;
    top: 0;
    opacity: 0;
  
}

#i10 {
    position: absolute;
    left: -20%;
    top: 0;
    opacity: 0;
  
}
#i11 {
    position: absolute;
    left: -20%;
    top: 0;
    opacity: 0;
  
}
#i12 {
    position: absolute;
    left:  0;
    top: -20%;
    opacity: 0;
  
}


